body{
    width: 800px;
}
.title{
    width: 800px;
    text-align: center;
    border: 1px solid black;

}
h1{
    color: rgb(224, 20, 54);
    font-size: 60px;
    }
h2{
    color: red;
    font-size: 30px;
}

